@import './base.css';

.banner {
    position: relative;
    width: 100%;
    height: 400px;

    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 1.5rem;
}

.slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--soft-color);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    position: absolute;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.slide p {
    background-color: var(--secondary-color);

    padding: 0.5rem;

    border-radius: 15px;
}

.slide.active {
    opacity: 1;
}

.indicators {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.indicators .fa-circle {
    margin: 0 5px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
    transition: color 0.3s;
}

.indicators .fa-circle.active,
.indicators .fa-circle:hover {
    color: var(--neutral-color);
}