@import url('../css/base.css');

.footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
    font-size: 14px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-section {
    padding: 20px;
    flex: 1;
}

.footer-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section p {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #50C878;
}

.footer-section .fa-phone,
.footer-section .fa-envelope {
    margin-right: 10px;
}

.footer-bottom {
    background-color: #222;
    text-align: center;
    padding: 10px 0;
}